/* ---------------------------------------------------------------------
   This controls the groups page
---------------------------------------------------------------------- */

html {
	height:100%;
}

body {
	margin: 0px;
	padding: 0px;
	height:100%;
	font-family: Arial !important;
	font-size: 14px !important;
}

p {
	height:auto;
}

#container { }

#group_wrapper {
	margin:auto;
	width:1200px;
	padding:25px;
}

.cross { background:url("http://www.cadwolf.com/Images/Groups/cross.png") no-repeat center top; }
.check { background:url("http://www.cadwolf.com/Images/Groups/check.png") no-repeat center top; }

/*----------------------------------------------------------------------*/
/*----- The main box showing the groups, dates, admin, and creator -----*/
/*----------------------------------------------------------------------*/
#group_groups {
	width:800px;
	float:left;
	min-height:300px;
	margin:0px 25px;
}

#group_groupbox {
	width:800px;
	height:330px;
	overflow-y:auto;
	border:1px solid #DCDCDC;
	border-radius:5px;
	font-size:1.15em;
	text-align:center;
}


.groups_groupline {
	float:left;
	width:100%;
	line-height:20px;
	cursor:pointer;
}

.groupline_username, .groupline_usernameadmin, .groupline_creator, .groupline_admin, .groupline_date {
	float:left;
	padding:3px;
}

.groupline_usernameadmin { width:344px;}
.groupline_username { width:344px;}
.groupline_creator 	{ width:64px;}
.groupline_admin 	{ width:64px;}
.groupline_date 	{ width:244px;}

.groups_topgroupline 	{ font-weight:bold; text-align:center; }
.topgroupline_name 		{ float:left; width:344px; padding:3px;}
.topgroupline_creator 	{ float:left; width:64px; padding:3px;}
.topgroupline_admin 	{ float:left; width:64px; padding:3px;}
.topgroupline_date 		{ float:left; width:244px; padding:3px;}


.active { background-color: #B4C4D4; }
/*----------------------------------------------------------------------*/


/*----------------------------------------------------------------------*/
/*--- The option boxes to the right to add / delete users and groups ---*/
/*----------------------------------------------------------------------*/
#group_actions {
	float:right;
	width:300px;
	margin:0px 25px;
}

#group_messageholder {
	float:right;
	width:300px;
	margin:0px 25px;
}

.group_action {
	font-size:1.5em;
	border:1px solid #DCDCDC;
	border-radius:5px;
	text-align:center;
	padding:5px 0px;
	margin:10px 0px;
	cursor:pointer;
}

#group_newgroup 	{ background-color:#B4C4D4; }
#group_deletegroup 	{ background-color:#730324; }
#group_adduser 		{ background-color:#8BA2BD; }
#group_removeuser 	{ background-color:#456382; }

#group_messages { 
	float:left; 
	width:275px;
	border:1px solid #CCCCCC;
	border-radius:5px;
	padding:10px;
	height:70px;
}
/*----------------------------------------------------------------------*/


/*----------------------------------------------------------------------*/
/*----------------- The member box at the bottom of the page -----------*/
/*----------------------------------------------------------------------*/

#group_members {
	float:left;
	width:450px;
	padding:25px;	
}

#group_memberbox {
	float:left;
	width:450px;
	padding:10px;
	border:1px solid #DCDCDC;
	border-radius:5px;
}

.groups_memberline { float:left; }

.memberline_username, .memberline_creator, .memberline_admin, .memberline_date {
	float:left;
	padding:3px;
}

.memberline_username{ width:234px;}
.memberline_creator { width:54px;}
.memberline_admin 	{ width:44px;}
.memberline_date 	{ width:94px; text-align:center;}

.groups_topmemberline		{ text-align:center; }
.topmemberline_name	 		{ float:left; width:234px; font-weight:bold; padding:3px;}
.topmemberline_admin 		{ float:left; width:44px; font-weight:bold; padding:3px;}
.topmemberline_creator 		{ float:left; width:54px; font-weight:bold; padding:3px;}
.topmemberline_date 		{ float:left; width:94px; font-weight:bold; padding:3px;}
/*----------------------------------------------------------------------*/


/*----------------------------------------------------------------------*/
/*------------- The permission box at the bottom of the page -----------*/
/*----------------------------------------------------------------------*/

#group_perms {
	float:left;
	width:650px;
	padding:25px;	
}

.group_permbox {
	float:left;
	width:630px;
	padding:10px;
	border:1px solid #DCDCDC;
	border-radius:5px;
}

.permline_username, .permline_admin, .permline_date, .permline_edit, .permline_view, .permline_save {
	float:left;
	padding:3px;
}

.permline_username 	{ width:294px;}
.permline_admin 	{ width:44px;}
.permline_edit 		{ width:44px;}
.permline_view 		{ width:44px;}
.permline_save	 	{ width:44px;}
.permline_date 		{ width:94px; text-align:center;}

.permline_folder { 
	float:left;
	width:30px;
	background:url("http://www.cadwolf.com/Images/FilesandFolders/Small_Folder.png") no-repeat center top;
}
.permline_file { 
	float:left;
	width:30px;
	background:url("http://www.cadwolf.com/Images/FilesandFolders/Small_File.png") no-repeat center top;
}

.groups_toppermline		{ text-align:center; }
.toppermline_name	 	{ float:left; width:324px; font-weight:bold; padding:3px;}
.toppermline_admin 		{ float:left; width:44px; font-weight:bold; padding:3px;}
.toppermline_edit 		{ float:left; width:44px; font-weight:bold; padding:3px;}
.toppermline_view 		{ float:left; width:44px; font-weight:bold; padding:3px;}
.toppermline_save	 	{ float:left; width:44px; font-weight:bold; padding:3px;}
.toppermline_date 		{ float:left; width:94px; font-weight:bold; padding:3px;}

/*----------------------------------------------------------------------*/


/*----------------------------------------------------------------------*/
/*-------------------- Items for the specifics page --------------------*/
/*----------------------------------------------------------------------*/
#group_specbox {
	float:left;
	width:400px;
}

.specbox_line {
	float:left;
	width:400px;
}

.specbox_left {
	float:left;
	width:200px;
}
/*----------------------------------------------------------------------*/
