@charset "utf-8";
* {
	margin:0;
	padding:0;
}

/** General Style Info **/
body {
	background-color:#F2F4F4;
	background-size: cover;
	color: #fff;
	font-size:90%;
	margin: 0;
}

#container {
	margin:auto;
	background:url(/Images/Greeting/BigWolf.jpg) no-repeat left top;
	background-size:cover;
	width:100%;
	height:100%
}


#header_wrapper {
    z-index:1;
    height:40px;
	background-color: #2F363E;
	background-image: linear-gradient(to top, rgb(9, 22, 27), rgb(13, 64, 80));
}

#header {
	min-width:1000px;
	margin-left:auto;
	margin-right:auto;
    height:40px;
}

#toolbar_wrapper {
	float:right;
	width: 100%;
	height:40px;
	margin:0px 0px 0px 0px;
}

#main_wrapper {
	float:left;
	width:530px;
	background-color:#FFF;
	margin:50px 0px;
	border-radius:15px;
}

#users_wrapper, #facebookusers_wrapper {
	float:left;
	width:530px;
	margin:0px;
}

.users_form {
	float:left;
	width:500px;
	margin:auto;
	background-color:#FFFFFF;
	border:15px solid #FFFFFF;
	border-radius:15px;
	padding:0px;
	font-family:'Roboto', sans-serif;
	color:#000;
	font-size:1.1em;
}

/** Forms **/
form {
	clear: both;
	padding: 0;
}
fieldset {
	border: none;
	padding: 16px 0px;
}
fieldset legend {
	font-size: 160%;
	font-weight: bold;
	width:100%;
	height:100%;
	padding:10px 0px;
	text-align:center;
	border-bottom:1px solid;
}
fieldset fieldset {
	margin-top: 0;
	padding: 10px 0 0;
}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	float:left;
	width:200px;
	margin-bottom: 1em;
	padding: 5px;
	vertical-align: text-top;
	margin:5px 10px 0px 20px;
}
form .input {
}
form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
form div.submit {
	border: 0;
	float:right;
}
label {
	float:left;
	width:175px;
	display: block;
	font-size: 1.1em;
	margin-bottom:3px;
	color:#2F363E;
}
input, textarea {
	float:right;
	font-size: 100%;
	padding: 2px;
	width:430px;
}
select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
div.checkbox label {
	display: inline;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 6px 0;
	padding: 0;
	line-height: 26px;
}
.radio label {
	margin: 0 0 6px 20px;
	line-height: 26px;
}
input[type=submit] {
	display: inline;
	font-size: 110%;
	width: auto;
}
form .submit input[type=submit] {
	background:#456382;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#456382), to(#8BA2BD));
	background-image: -webkit-linear-gradient(top, #456382, #8BA2BD);
	background-image: -moz-linear-gradient(top, #456382, #8BA2BD);
	border-color: #000000;
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
	padding: 8px 10px;
}
form .submit input[type=submit]:hover {
	background: #456382;
}
/* Form errors */
form .error {
	background: #FFDACC;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: normal;
}
form .error-message {
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	border: none;
	background: none;
	margin: 0;
	padding-left: 4px;
	padding-right: 0;
}
form .error,
form .error-message {
	color: #9E2424;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}

/* Buttons and button links */
input[type=submit] {
	font-weight:normal;
	padding: 4px 8px;
	background:#456382;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#456382), to(#8BA2BD));
	background-image: -webkit-linear-gradient(top, #456382, #8BA2BD);
	background-image: -moz-linear-gradient(top, #456382, #8BA2BD);
	border-color: #000000;
	color:#333;
	border:1px solid #bbb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none;
	text-shadow: #fff 0px 1px 0px;
	min-width: 0;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-user-select: none;
	user-select: none;
}
input[type=submit]:active, {
	background:#456382;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#456382), to(#8BA2BD));
	background-image: -webkit-linear-gradient(top, #456382, #8BA2BD);
	background-image: -moz-linear-gradient(top, #456382, #8BA2BD);
	border-color: #000000;
	text-shadow: #eee 0px 1px 0px;
	-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
	border-color: #aaa;
	text-decoration: none;
}


#facebook_data {
	float:left;
	width:450px;
	padding:0px 25px;
	margin:0px;
	font-size:1.0em;
}

#fbtext {
	float:left;
	text-align:justify;
	width:450px;
	font-size:1.0em;
	padding:0px 0px 20px 0px;
	margin:0px;
}

#fb_button {
	float:left;
	width:450px;
	margin:0px 0px;
	padding:50px 25px 0px 25px;
	text-align:center;
}

#fb_connected {
	float:left;
	text-align:center;
	width:300px;
	border:1px solid;
	border-radius:10px;
	background-color:#456382;
	color:#DFE3E6;
	cursor:pointer;
	padding:10px;
	margin:0px 75px;
}

#fb_connected:hover { background-color:#8BA2BD }

#fb_link {
	float:left;
	text-align:center;
	width:300px;
	border:1px solid;
	border-radius:10px;
	background-color:#456382;
	color:#DFE3E6;
	cursor:pointer;
	padding:10px;
	margin:0px 75px;		
}

.half_input {
	width:180px;
}

.full_input {
	width:400px;
}

.fulldiv {
	width:450px;
}

.form_description {
	font-size:0.7em;
	color:#898989;
	text-align:justify;
}

#facebook_error {
	float:left;
	width:100%;
	height:15px;
	color:red;
	text-align:center;
	padding:5px 0px 10px 0px;
}