/* ---------------------------------------------------------------------
   This just controls the landing page and a few other greetings pages
---------------------------------------------------------------------- */

body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
}

#SurfaceInfo {
}

#Option_Bar_Show {
	background: url(http://www.cadwolf.com/Images/surfaces_sprite.png) no-repeat -32px -0px;
	width:32px;
	height: 32px;
	z-index: 1;
	cursor:pointer;	
	position:fixed;
	top:5px;
	right:10px;
	z-index:2;
}

#Option_Bar_Hide {
	background: url(http://www.cadwolf.com/Images/surfaces_sprite.png) no-repeat -0px -0px;
	width:32px;
	height: 32px;
	z-index: 1;
	cursor:pointer;	
	position:fixed;
	top:5px;
	right:10px;
}

#Option_Bar {
	position:fixed;
	top:0px;
	right:0px;
	height:100%;
	width:250px;
	background-color:#DDD;
	z-index:1;
	overflow-y:auto;
	overflow-x:hidden;
}

.plot_subclass {
	float:left;
}

.plot_appbox {
	float:left;
	text-align:center;	
	width:220px;
	height:32px;
	margin:5px 0px 0px 10px;	
}

.plot_appeartext {
	float:left;
	text-align:center;	
	font-size:1em;
	width:100px;
	padding:5px 0px 5px 0px;
}

.plot_datasetcamerasection, .plot_datasetappearancesection {
	padding:0px;
	height:100%;
	width:250px;
}


.surface_camoption, .surface_datainput, .surface_legendinput {
    COLOR: #000000; 
    height:15px;
    width:105px;
    padding:2px 0px 2px 5px;
    margin: 0px;
    background-color:#FFFFFF;
	font-size:1em;
}


#Legend_Wrapper {
	width:100%;
	min-height:75px;
	position:fixed;
	bottom:0px;
	z-index:0;
}

.Legend {
	width:800px;
	height:50px;
	margin:auto;
}

.Legend_Ticks {
	width:800px;
	height:25px;
	margin:auto;
}

.Legend_Tick {
	float:left;
	width:10px;
	height:25px;
	margin:auto;
	text-align:center;
}

#plane_box {
	border-top:2px solid #000;
}

#dataselect, #planeselect {
	float:left;
	padding:8px 0px 8px 10px;
	font-size:14px;
	padding:10 0;
}

#surface_dataselect, #surface_planeselect {
	width:200px;
	margin:5px;
	font-size:1.2em;
	font-weight:bold;
}

.titles
{
	float:left;
	width:100%;
	font-size:1.25em;
	background-color:#ECECEC;
	padding:10px 0px 10px 25px;
	margin:10px 0px;
	font-weight:bold;
	letter-spacing:1.2px;
}
/*-------------------------------------------------------------------------*/
