/* ---------------------------------------------------------------------
   This just controls the landing page and a few other greetings pages
---------------------------------------------------------------------- */

body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
}

#SurfaceInfo {
}

#Option_Bar_Show {
	background: url(http://www.cadwolf.com/Images/surfaces_sprite.png) no-repeat -32px -0px;
	width:32px;
	height: 32px;
	z-index: 1;
	cursor:pointer;	
	position:fixed;
	top:5px;
	right:10px;
	z-index:2;
}

#Option_Bar_Hide {
	background: url(http://www.cadwolf.com/Images/surfaces_sprite.png) no-repeat -0px -0px;
	width:32px;
	height: 32px;
	z-index: 1;
	cursor:pointer;	
	position:fixed;
	top:5px;
	right:10px;
}

#Option_Bar {
	position:fixed;
	top:0px;
	right:0px;
	height:100%;
	width:250px;
	background-color:#DDD;
	z-index:1;
	overflow-y:auto;
	overflow-x:hidden;
}

#Legend_Wrapper {
	width:100%;
	min-height:75px;
	position:fixed;
	bottom:0px;
	z-index:0;
}

.Legend {
	width:800px;
	height:50px;
	margin:auto;
}

.Legend_Ticks {
	width:800px;
	height:25px;
	margin:auto;
}

.Legend_Tick {
	float:left;
	width:10px;
	height:25px;
	margin:auto;
	text-align:center;
}

.titles
{
	float:left;
	width:100%;
	font-size:1.25em;
	background-color:#ECECEC;
	padding:10px 0px 10px 25px;
	margin:10px 0px;
	font-weight:bold;
	letter-spacing:1.2px;
    cursor:pointer;
}



.plotOptionLine {
    float:left;
    width:230px;
    margin:5px 10px;
}

.plotOptionLabel {
    float:left;
    width:115px;
    text-align:center;
}

input.plotOption, select.plotOption, checkbox.plotOption {
    float:left;
    width:100px;
    margin:0px 0px 0px 8px;
    text-align:center;
}

.plotOptionText {
    float:left;
    width:100px;
    margin:0px 8px 0px 7px;
    text-align:center;
}

.plotTwoSelect {
    float:left;
    width:120px;
    margin:0px 2px 0px 3px;
    text-align:center;
    padding:0px 0px 5px 0px;
    border-bottom:1px solid;
    cursor:pointer;
}

.plotThreeSelect {
    float:left;
    width:80px;
    margin:0px 2px 0px 1px;
    text-align:center;
    padding:0px 0px 5px 0px;
    border-bottom:1px solid;
    cursor:pointer;
}

select.plotWideSelect {
    float:left;
    width:200px;
    margin:15px 25px;
    font-size:14px;
}/*-------------------------------------------------------------------------*/
