<div class="icon_wrapper" ng-show="showIcons" ng-mouseover="showIcons=true;" ng-mouseout="showIcons=false">
    <div class="icon_holder">
        <div class="deletebutton"></div>
        <div class="loopspecs"></div>
        <div class="sublineshow" ng-click="obj.sublineEdit=!obj.sublineEdit">
            <div class="subline" ng-show="obj.sublineEdit">
                <div class="addequationsub" ng-click="addItem('Equation', {parentid:obj.itemid, topparentid:obj.itemid})"></div>
                <div class="addforloopsub" ng-click="addItem('ForLoop', {parentid:obj.itemid, topparentid:obj.itemid})"></div>
                <div class="addwhileloopsub" ng-click="addItem('WhileLoop', {parentid:obj.itemid, topparentid:obj.itemid})"></div>
                <div class="addifelsesub" ng-click="addItem('IfElse', {parentid:obj.itemid, topparentid:obj.itemid})"></div>
                <div class="upone" ng-if="obj.parentid!='none'" ng-click="moveSubItemUp(obj.itemid)"></div>
                <div class="downone" ng-if="obj.parentid!='none'" ng-click="moveSubItemDown(obj.itemid)"></div>
            </div>
        </div>
        <div class="updatewhileloop" ng-click="obj.needsUpdateFlag=1; $parent.runEquationDigest()"></div>
    </div>
</div>

<div class="whileloop">
    <div class="whilelooptext">
        
        <div class="loopwhile">While</div>
        
        <div ng-repeat="row in obj.whileloop.statementBlock track by $index" style="float:left;">
            
            <div class="andorblock" ng-show="$index>0">

                <div class="andorvalue" ng-show="!obj.whileloop.statementBlock[$index][0]['showOptions']" ng-click="obj.whileloop.statementBlock[$index][0]['showOptions']=true">{{obj.whileloop.statementBlock[$index][0]['blockOption']}}</div>

                <div class="whileloopandorvalue" ng-show="obj.whileloop.statementBlock[$index][0]['showOptions']">
                    <select class="whileloopconditionselect" ng-change="obj.whileloop.statementBlock[$index][0]['showOptions']=false; obj.needsBlockUpdate=1; obj.updateClass='itemneedsupdate'; $parent.runEquationDigest();" ng-blur="obj.whileloop.statementBlock[$index][0]['showOptions']=false" ng-model="obj.whileloop.statementBlock[$index][0]['blockOption']">
                        <option value="||">||</option>
                        <option value="&&">&&</option>
                    </select>
                </div>

            </div>

            <div class="whileloopblock">
                <div ng-repeat="col in row track by $index" style="float:left;">
                    <div class="andorstatements" ng-show="!obj.whileloop.statementBlock[$parent.$index][$index]['showOptions']&&$index>0" ng-click="obj.whileloop.statementBlock[$parent.$index][$index]['showOptions']=true">{{obj.whileloop.statementBlock[$parent.$index][$index]['blockOption']}}</div>
                    <div class="whileloopandorvalue" ng-show="obj.whileloop.statementBlock[$parent.$index][$index]['showOptions']&&$index>0">
                        <select class="whileloopconditionselect" ng-change="obj.whileloop.statementBlock[$parent.$index][$index]['showOptions']=false; obj.needsBlockUpdate=1; obj.updateClass='itemneedsupdate'; $parent.runEquationDigest();" ng-blur="obj.whileloop.statementBlock[$parent.$index][$index]['showOptions']=false" ng-model="obj.whileloop.statementBlock[$parent.$index][$index]['blockOption']">
                            <option value="||">||</option>
                            <option value="&&">&&</option>
                        </select>
                    </div>
                    <div class="whileloopstatements" ng-class="obj.whileloop.statementBlock[$parent.$index][$index].showClass">
                        <div class="deleteblock" ng-click="$parent.deleteStatement(obj.itemid, 'whileloop', $parent.$index, $index)" ng-show="$parent.editPerm">&nbsp</div>
                        <div class="whileloopflag">
                            <div class="whileloopvaluewrapper">
                                <div class="whileloopvalue" ng-show="!obj.whileloop.statementBlock[$parent.$index][$index].flagInputEdit" ng-dblclick="obj.whileloop.statementBlock[$parent.$index][$index].flagInputEdit=true">{{obj.whileloop.statementBlock[$parent.$index][$index].flagText}}</div>
                                <input type="text" class="whileloopinput" ng-model="obj.whileloop.statementBlock[$parent.$index][$index].flagText" ng-show="obj.whileloop.statementBlock[$parent.$index][$index].flagInputEdit" ng-enter="obj.whileloop.statementBlock[$parent.$index][$index].flagInputEdit=false; obj.updateClass='itemneedsupdate'; obj.needsBlockUpdate=1; $parent.runEquationDigest();">
                            </div>
                        </div>
                        <div class="whileloopcondition">
                            <div class="whileloopconditionvalue" ng-show="!obj.whileloop.statementBlock[$parent.$index][$index].conditionInputEdit" ng-dblclick="obj.whileloop.statementBlock[$parent.$index][$index].conditionInputEdit=true">{{obj.whileloop.statementBlock[$parent.$index][$index].conditionText}}</div>
                            <select class="whileloopconditionselect" ng-show="obj.whileloop.statementBlock[$parent.$index][$index].conditionInputEdit" ng-change="obj.whileloop.statementBlock[$parent.$index][$index].conditionInputEdit=false; obj.needsBlockUpdate=1; obj.updateClass='itemneedsupdate'; $parent.runEquationDigest();" ng-blur="obj.whileloop.statementBlock[$parent.$index][$index].conditionInputEdit=false" ng-model="obj.whileloop.statementBlock[$parent.$index][$index].conditionText">
                                <option value="==">==</option>
                                <option value="!=">!=</option>
                                <option value="<"><</option>
                                <option value="<="><=</option>
                                <option value=">">></option>
                                <option value=">=">>=</option>
                            </select>
                        </div>
                        <div class="whileloopdependent">
                            <div class="whileloopvaluewrapper">
                                <div class="whileloopvalue" ng-show="!obj.whileloop.statementBlock[$parent.$index][$index].dependentInputEdit" ng-dblclick="obj.whileloop.statementBlock[$parent.$index][$index].dependentInputEdit=true">{{obj.whileloop.statementBlock[$parent.$index][$index].dependentText}}</div>
                                <input type="text" class="whileloopinput" ng-model="obj.whileloop.statementBlock[$parent.$index][$index].dependentText" ng-show="obj.whileloop.statementBlock[$parent.$index][$index].dependentInputEdit" ng-enter="obj.whileloop.statementBlock[$parent.$index][$index].dependentInputEdit=false; obj.needsBlockUpdate=1; obj.updateClass='itemneedsupdate'; $parent.runEquationDigest();">
                            </div>
                        </div>
                    </div>        
                    <div class="whileloopaddstatements" ng-click="$parent.addStatement(obj.itemid, 'whileloop', $parent.$index, $index)" ng-show="$parent.editPerm">+</div>
                </div>        
            </div>
            <div class="whileloopaddblock" ng-click="$parent.addBlock(obj.itemid, 'whileloop', $index)" ng-show="editPerm">+</div>
        </div>
    
    </div>
    
    <div class="whileloopcontent" ng-class="obj.updateClass">
        <div class="main_item" ng-repeat="subObj in cadwolf_worksheet | orderBy:'location' track by subObj.itemid" ng-switch on="subObj.vartype" style="width:100%">
            <div ng-click="$parent.setCurrent(subObj)" class="" style="margin-top:{{subObj.margintop}}px; margin-bottom:{{subObj.marginbottom}}px; margin-left:{{subObj.marginleft}}px; margin-right:{{subObj.marginright}}px;" >
                <div ng-switch="subObj.vartype">
                    
                    <div class="switchWrapper" ng-if="(subObj.Equation.inputFile==0)&&(subObj.parentid==obj.itemid)" ng-switch-when="3" ng-click="$parent.$parent.formatDisplay=false" ng-mouseover="showIcons=true;" ng-mouseout="showIcons=false">
                        <div ng-if="editPerm" ng-show="showIcons" class="icon_wrapper">
                            <div class="icon_holder">
                                <div class="deletebutton" ng-click="$parent.deleteItem(subObj)"></div>
                                <div ng-click="showSpecs(subObj.itemid, 'equation')" class="equationspecs"></div>
                                <div class="upone" ng-click="moveSubItemUp(subObj.itemid)"></div>
                                <div class="downone" ng-click="moveSubItemDown(subObj.itemid)"></div>
                            </div>
                        </div>
                        <div class="equationblock">
                            <div class="eqshow" id="{{subObj.itemid}}" ng-show="!subObj.showEdit" ng-dblclick="subObj.showEdit=true">
                                <span mathjax-bind="subObj.Equation.Format_left"></span>=
                                <span mathjax-bind="subObj.Equation.Format_showequation"></span>=
                                <span mathjax-bind="subObj.Equation.Format_showsolution"></span>
                            </div>
                            <input class="standardInput" ng-show="subObj.showEdit" ng-model="subObj.Equation.Format_equation" ng-enter="obj.updateClass='itemneedsupdate'" />
                        </div>
                    </div>
                
                    <div class="switchWrapper" ng-if="subObj.parentid==obj.itemid" ng-switch-when="6" id="{{subObj.itemid}}" ng-click="$parent.$parent.formatDisplay=false" ng-mouseover="showIcons=true;" ng-mouseout="showIcons=false">
                        <span for-loop-object></span>
                    </div>                                    
                    
                    <div class="switchWrapper" ng-if="subObj.parentid==obj.itemid" ng-switch-when="7" id="{{subObj.itemid}}" ng-click="$parent.$parent.formatDisplay=false" ng-mouseover="showIcons=true;" ng-mouseout="showIcons=false">
                        <span while-loop-object></span>
                    </div>                                    
                    
                    <div class="switchWrapper" ng-if="subObj.parentid==obj.itemid" ng-switch-when="8" id="{{subObj.itemid}}" ng-click="$parent.$parent.formatDisplay=false" ng-mouseover="showIcons=true;" ng-mouseout="showIcons=false">
                        <span if-else-object></span>
                    </div>                                    

                </div>
            </div>
        </div>
    </div>
    
</div>

