<div id="image_spec" class="top_spec">

    <div id="close_imagespec"></div>
    <div id="imagespecs_main">
        <div ng-click="imageSpecsShowSelect=!imageSpecsShowSelect; imageSpecsShowProps=false; imageSpecsShowRefs=false;" class="imagespecs_block"><div class="imagespecs_option" id="imagespecs_showselect"></div><div class="imagespecs_label">Select</div></div>
        <div ng-click="imageSpecsShowSelect=false; imageSpecsShowProps=!imageSpecsShowProps; imageSpecsShowRefs=false;" class="imagespecs_block"><div class="imagespecs_option" id="imagespecs_showprops"></div><div class="imagespecs_label">Props</div></div>
        <div ng-click="imageSpecsShowSelect=false; imageSpecsShowProps=false; imageSpecsShowRefs=!imageSpecsShowRefs;" class="imagespecs_block"><div class="imagespecs_option" id="imagespecs_showrefs"></div><div class="imagespecs_label">Refs</div></div>
    </div>


    <div ng-show="imageSpecsShowSelect" id="imagespecs_select">	
        <div id="imageselect_address"><input type="text" id="imgselect" ng-enter="getFolderImages()" ng-model="imagePath"/></div>
        <div id="imageselect_images">
            <div ng-repeat="obj in imageObj">
                <div ng-if="obj.fileType=='0'" ng-click="$parent.$parent.imagePath=$parent.$parent.imagePath+'/'+obj.name; getFolderImages();" class="imagepropsline"><div class="imageprops_folder">&nbsp</div><div class="imageprops_name">{{obj.name}}</div></div>
                <div ng-if="obj.fileType=='2'" ng-click="setImage(obj);" class="imagepropsline"><div class="imageprops_image">&nbsp</div><div class="imageprops_name">{{obj.name}}</div></div>
            </div>
        </div>
    </div>

    <div ng-show="imageSpecsShowProps" id="imagespecs_props">	
		<div class="specsTitle">Image Properties</div>
        <div class="specsLine"><div class="specsLabel">Name :</div><div class="specsInputDisplay">{{currentImage.data.name}}</div></div>
        <div class="specsLine"><div class="specsLabel">Upload Date :</div><div class="specsInputDisplay">{{currentImage.data.mdate | date : 'EEE, MMM d, y - h:mm a'}}</div></div>
        <div class="specsLine"><div class="specsLabel">Height :</div><input class="specsInput" ng-model="currentImage.data.height"></div>
        <div class="specsLine"><div class="specsLabel">Width :</div><input class="specsInput" ng-model="currentImage.data.width"></div>
    </div>

    <div ng-show="imageSpecsShowRefs" id="imagespecs_ref"><span reference-object="currentImage"></span></div>

</div>

