<!-- Show all of the references to let the user select which one(s) they want to add or delete to this item -->


<div class="specsTitle">References</div>

<div ng-if="cadwolf_references.length==0" class="specsText">There are no references in this document. To add a reference, go to the bibliography page. Once added, this tab can be reopened and added to this item.</div>

<div ng-repeat="obj in cadwolf_references | orderBy:obj.refNum track by obj.refID">
    <div ng-if="obj['type']=='web'" ng-click="addDeleteReference(obj['refID'], currentItem)" class="setRefLine"><div class="bib_num">{{obj['refNum']+1}}</div>{{obj['author']}}. <a href="{{address}}">{{obj['webtitle']}}</a>.<u>{{obj['pagetitle']}}</u> - {{obj['sitetitle']}}. Date accessed : {{obj['dateaccessed']}}</div>
    <div ng-if="obj['type']=='book'" ng-click="addDeleteReference(obj['refID'], currentItem)" class="setRefLine"><div class="bib_num">{{obj['refNum']+1}}</div>{{obj['author']}}. <u>{{obj['booktitle']}}</u>. {{obj['publisher']}}. {{obj['datepublished']}}. Edition - {{obj['edition']}}. Page - {{obj['page']}}.</div>
    <div ng-if="obj['type']=='mag'" ng-click="addDeleteReference(obj['refID'], currentItem)" class="setRefLine"><div class="bib_num">{{obj['refNum']+1}}</div>{{obj['author']}}. {{obj['pagetitle']}}. {{obj['magpapername']}}. {{obj['datepublished']}}. Page - {{obj['page']}}.</div>
    <div ng-if="obj['type']=='enc'" ng-click="addDeleteReference(obj['refID'], currentItem)" class="setRefLine"><div class="bib_num">{{obj['refNum']+1}}</div>{{obj['author']}}. {{obj['entryname']}}. {{obj['encname']}}. Edition - {{obj['edition']}} {{obj['year']}}. Page - {{obj['page']}}.</div>
</div>

