	<div id="table_spec" class="top_spec">
		<div id="close_tablespec"></div>
		<div id="tablespecs_main">
			<div ng-click="tableSpecsShowInfo=!tableSpecsShowInfo; tableSpecsShowRow=false; tableSpecsShowCol=false; tableSpecsShowCell=false; tableSpecsShowRefs=false;" class="tablespecs_block"><div class="tablespecs_option" id="tablespecs_showtable"></div><div class="tablespecs_label">Table</div></div>
			<div ng-click="tableSpecsShowInfo=false; tableSpecsShowRow=!tableSpecsShowRow;  tableSpecsShowCell=false; tableSpecsShowRefs=false;" class="tablespecs_block"><div class="tablespecs_option" id="tablespecs_showrow"></div><div class="tablespecs_label">Row</div></div>
			<div ng-click="tableSpecsShowInfo=false; tableSpecsShowRow=false; tableSpecsShowCol=!tableSpecsShowCol; tableSpecsShowCell=false; tableSpecsShowRefs=false;" class="tablespecs_block"><div class="tablespecs_option" id="tablespecs_showcolumn"></div><div class="tablespecs_label">Column</div></div>
			<div ng-click="tableSpecsShowInfo=false; tableSpecsShowRow=false; tableSpecsShowCol=false; tableSpecsShowCell=!tableSpecsShowCell; tableSpecsShowRefs=false;" class="tablespecs_block"><div class="tablespecs_option" id="tablespecs_showcell"></div><div class="tablespecs_label">Cell</div></div>
			<div ng-click="tableSpecsShowInfo=false; tableSpecsShowRow=false; tableSpecsShowCol=false; tableSpecsShowCell=false; tableSpecsShowRefs=!tableSpecsShowRefs;" class="tablespecs_block"><div class="tablespecs_option" id="tablespecs_showrefs"></div><div class="tablespecs_label">Refs</div></div>
		</div>

		<div ng-show="tableSpecsShowInfo" id="tablespecs_table">
			<div id="tablespecs_disp">
				<div id="tablespecs_left">
					<div class="tablespecs_subtitle">Table Information</div>
					<div class="table_halfitem">Table ID :</div><div class="table_halfitem"><div id="tableid">{{currentTable.itemid}}</div></div>
					<div class="table_halfitem">Show Title :</div><div class="table_halfitem"><input type="checkbox" id="tablecaptiononoff" ng-model="currentTable.props.captionOn"></div>
					<div class="table_halfitem">Title :</div><div class="table_halfitem"><input type="text" id="tablecaption" ng-model="currentTable.props.caption"></div>
					<div class="table_halfitem">Rows :</div><div class="table_halfitem" id="tablerows">{{currentTable.props.data[0].length}}</div>
					<div class="table_halfitem">Columns :</div><div class="table_halfitem" id="tablecolumns">{{currentTable.props.data.length}}</div>
				</div>
				<div id="tablespecs_right">
					<div class="tablespecs_subtitle">Table Format</div>
					<div class="table_halfitem">Show Row Labels :</div><div class="table_halfitem"><input type="checkbox" id="tablerowlabels" ng-model="currentTable.props.rowLabels"></div>
					<div class="table_halfitem">Show Col Labels :</div><div class="table_halfitem"><input type="checkbox" id="tablecolumnlabels" ng-model="currentTable.props.colLabels"></div>
					<div class="table_halfitem">Show Headers :</div><div class="table_halfitem"><input type="checkbox" id="tableheaders" ng-model="currentTable.props.tableHeaders"></div>
					<div class="table_halfitem">Border Width :</div><div class="table_halfitem"><input type="text" id="tableborders" ng-model="currentTable.props.borderWidth"></div>
					<div class="table_halfitem">Text-Align :</div><div class="table_halfitem"><select id="tablealign" ng-model="currentTable.props.tableAlign"><option value="left">left</option><option value="right">right</option><option value="center">center</option><option value="justify">justify</option></select></div>
				</div>
			</div>
		</div>

		<div ng-show="tableSpecsShowCol" id="tablespecs_column">
			<div id="tablespecs_disp2">
				<div class="tablespecs_subtitle">Column Information</div>
				<div class="table_halfitem">Width :</div><div class="table_halfitem"><input type="text" id="tablecolumnwidth"></div>
				<div class="table_halfitem">Left Border :</div><div class="table_halfitem"><input type="text" id="tableleftborder"></div>
				<div class="table_halfitem">Right Border :</div><div class="table_halfitem"><input type="text" id="tablerightborder"></div>
				<div class="table_halfitem">Text-Align :</div><div class="table_halfitem"><select id="columnalign"><option value="left">left</option><option value="right">right</option><option value="center">center</option><option value="justify">justify</option></select></div>
			</div>
		</div>

		<div ng-show="tableSpecsShowRow" id="tablespecs_row">
			<div id="tablespecs_disp2">
				<div class="tablespecs_subtitle">Row Information</div>
				<div class="table_halfitem">Height :</div><div class="table_halfitem"><input type="text" id="tablerowheight"></div>
				<div class="table_halfitem">Top Border :</div><div class="table_halfitem"><input type="text" id="tabletopborder"></div>
				<div class="table_halfitem">Bottom Border :</div><div class="table_halfitem"><input type="text" id="tablebottomborder"></div>
				<div class="table_halfitem">Text-Align :</div><div class="table_halfitem"><select id="rowalign"><option value="left">left</option><option value="right">right</option><option value="center">center</option><option value="justify">justify</option></select></div>
			</div>
		</div>

		<div ng-show="tableSpecsShowCell" id="tablespecs_cell">
			<div id="tablespecs_disp2">
				<div class="tablespecs_subtitle">Cell Information</div>
				<div class="table_halfitem">Top Border :</div><div class="table_halfitem"><input type="text" id="tabletopcborder"></div>
				<div class="table_halfitem">Bottom Border :</div><div class="table_halfitem"><input type="text" id="tablebottomcborder"></div>
				<div class="table_halfitem">Left Border :</div><div class="table_halfitem"><input type="text" id="tableleftcborder"></div>
				<div class="table_halfitem">Right Border :</div><div class="table_halfitem"><input type="text" id="tablerightcborder"></div>
				<div class="table_halfitem">Text-Align :</div><div class="table_halfitem"><select id="cellalign"><option value="left">left</option><option value="right">right</option><option value="center">center</option><option value="justify">justify</option></select></div>
			</div>
		</div>

        <div ng-show="tableSpecsShowRefs" id="tablespecs_ref"><span reference-object="currentTable"></span></div>

	</div>
